.margined-top-20 {
  margin-top: 20px;
}
.margined-bottom-20 {
  margin-bottom: 20px;
}
.margined-right-20 {
  margin-right: 20px;
}
.margined-right-10 {
  margin-right: 10px;
}
.margined-left-20 {
  margin-left: 20px;
}

.p-width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.divider {
  height: 0;
  width: 100%;
  margin: 15px 0;
  border-bottom: 1px solid #cccccc;
}

.cursor-pointer {
  cursor: pointer;
}